@model SoftwareTechnologyCalendarApplication.Models.Event

@{
    ViewData["Title"] = "addEvent";
    // placeholder=@Model.Title
}
<!--    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>
<div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert" id="startProblem">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
        <div>
            The minute field of the starting time of the event must be :00 or :30. Nothing else.
        </div>
        <button type="button" class="close" onclick="hideDisplayAlert(startProblem)">&times;</button> data-dismiss="alert">&times;</button>
</div>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>
<div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert" id="endProblem">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
        <div>
            The minute field of the ending time of the event must be :00 or :30. Nothing else.
        </div>
        <button type="button" class="close" onclick="hideDisplayAlert(endProblem)">&times;</button> data-dismiss="alert">&times;</button>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>
<div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert" id="start>endProblem">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
        <div>
            The starting time of the event cannot be greater than or equal to the ending time.
        </div>
        <button type="button" class="close" onclick="hideDisplayAlert(start>endProblem)">&times;</button>data-dismiss="alert">&times;</button>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>
<div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert" id="titleProblem">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
        <div>
            The starting time of the event must cannot be greater than or equal to the ending time.
        </div>
        <button type="button" class="close" onclick="hideDisplayAlert(titleProblem)">&times;</button> data-dismiss="alert">&times;</button>
</div>-->

<!--<div class="modal fade" id="startProblem">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Warning!</h2>
            </div>
            <div class="modal-body">
                <p>The minute field of the starting time of the event must be :00 or :30.
                    Nothing else.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="closeModal('startProblem')">Understood</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="endProblem">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Warning!</h2>
            </div>
            <div class="modal-body">
                <p>
                    The minute field of the ending time of the event must be :00 or :30.
                    Nothing else.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="closeModal('endProblem')">Understood</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="start>endProblem">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Warning!</h2>
            </div>
            <div class="modal-body">
                <p>
                    The starting time of the event cannot be greater than or equal to the ending time.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="closeModal('start>endProblem')">Understood</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="titleProblem">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Warning!</h2>
            </div>
            <div class="modal-body">
                <p>
                    You need to provide a title for the event before submiting.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="closeModal('titleProblem')">Understood</button>
            </div>
        </div>
    </div>
</div>-->

<h1 class="text-center">Let's add a new event!</h1>

<h4 class="text-center">Please fill out the following form:</h4>
<hr />

<form asp-action="addEvent">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-5">
            <div style="margin-top: 25px;">
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" id="title" class="form-control" placeholder="Title"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <span class="text-danger" id="titleProblem" style="display:none">You need to provide a title for the event before submiting.</span>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <div class="form-group">
                    <label asp-for="StartingTime" class="control-label"></label>
                    <input asp-for="StartingTime" id="startingtime" class="form-control" />
                    <span asp-validation-for="StartingTime" class="text-danger"></span>
                    <span class="text-danger" id="startProblem" style="display:none">
                        The minute field of the starting time of the event must be :00 or :30.Nothing else.
                    </span>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <div class="form-group">
                    <label asp-for="EndingTime" class="control-label"></label>
                    <input asp-for="EndingTime" id="endingtime" class="form-control" />
                    <span asp-validation-for="EndingTime" class="text-danger"></span>
                    <span class="text-danger" id="endProblem" style="display:none">
                        The minute field of the ending time of the event must be :00 or :30.Nothing else.
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-5 offset-md-1">
            <div class="row" style="margin-top: 25px;">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="4" cols="65" placeholder="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row" style="margin-top: 50px; margin-left: 10px;">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="AlertStatus" /> I want to be notified when the event begins
                    </label>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="calendarId" value="@ViewData["CalendarId"]" />
    <input type="hidden" name="year" value="@ViewData["Year"]" />
    <input type="hidden" name="month" value="@ViewData["Month"]" />
    <input type="hidden" name="day" value="@ViewData["Day"]" />
    <div class="d-flex justify-content-center" style="margin-top: 35px;">
        <a class="btn btn-outline-primary" asp-controller="Home" asp-action="ViewCalendarDay" asp-route-calendarId="@ViewData["CalendarId"]"
           asp-route-year="@ViewData["Year"]" asp-route-month="@ViewData["Month"]" asp-route-day="@ViewData["Day"]">Back to Calendar</a>
        <div class="ml-3">
            <input type="submit" value="Create new event" onclick="return Validation();" class="btn btn-outline-primary" />
        </div>
    </div>
</form>
<div class="row align-items-center">
    <div class="mx-auto col-md-5">
        <span class="text-danger" id="start>endProblem" style="display:none">
            The starting time of the event cannot be greater than or equal to the ending time.
        </span>
    </div>
</div>


<script type="text/javascript">
    //function closeModal(id){
    //    let modal = document.getElementById(id);
    //    modal.style.display='none';
    //}
    function Validation(){
        if (document.getElementById("startProblem").style.display=="block"){
            hideDisplayAlert("startProblem");
        }
        if (document.getElementById("endProblem").style.display=="block"){
            hideDisplayAlert("endProblem");
        }
        if (document.getElementById("start>endProblem").style.display == "block") {
            hideDisplayAlert("start>endProblem");
        }
        if (document.getElementById("titleProblem").style.display == "block") {
            hideDisplayAlert("titleProblem");
        }
        let i=0;
        var startingTime = document.getElementById("startingtime").value;
        var endingTime = document.getElementById("endingtime").value;
        const Start = Date.parse(startingTime);
        const End = Date.parse(endingTime);
        let minsOfStart=startingTime.split(":")[1];
        let minsOfEnd = endingTime.split(":")[1];
        console.log(startingTime);
        console.log(typeof startingTime);
        if (minsOfStart != "00" && minsOfStart != "30") {
            hideDisplayAlert("startProblem")//document.getElementById("startProblem").style.display='block';  //hideDisplayAlert("startProblem")//alert("The minute field of the starting time of the event must be :00 or :30. Nothing else."); //na kano unhidden to ena alert <div> opos tou kinna
            i=1;
        }
        if (minsOfEnd != "00" && minsOfEnd != "30") {
            hideDisplayAlert("endProblem")//alert("The minute field of the ending time of the event must be :00 or :30. Nothing else.");
            i=1;
        }
        if (Start >= End){
            hideDisplayAlert("start>endProblem")//alert("The starting time of the event must cannot be greater than or equal to the ending time.");
            i=1;
        }
        var title = document.getElementById("title").value;
        if (title == null || title == "") {
            hideDisplayAlert("titleProblem")//alert("You need to provide a title for the event before submiting.");
            i=1;
        }
        if(i!=0){
            return false;
        }
    }
</script>

<script type="text/javascript">
    function hideDisplayAlert(id){
        let alertDiv = document.getElementById(id);
        if (alertDiv.style.display == "none"){
            alertDiv.style.display = "block";
        }
        else{
            alertDiv.style.display = "none";
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
