@model SoftwareTechnologyCalendarApplication.Models.User

@{
    ViewData["Title"] = "Home Page";
    int paginationCount = 1;
    int pagination = (int)ViewData["pagination"];
    int paginationPrevious = (pagination / 6) - 1;
    int paginationNext = (pagination / 6) + 1;
    int paginationBreakPoint = 6;

    int paginationCountTablet = 1;
    int paginationTablet = (int)ViewData["paginationTablet"];
    int paginationPreviousTablet = (paginationTablet / 4) - 1;
    int paginationNextTablet = (paginationTablet / 4) + 1;
    int paginationBreakPointTablet = 4;

    int paginationCountMobile = 1;
    int paginationMobile = (int)ViewData["paginationMobile"];
    int paginationPreviousMobile = (paginationMobile / 2) - 1;
    int paginationNextMobile = (paginationMobile / 2) + 1;
    int paginationBreakPointMobile = 2;
}

<style>
    body {
        background-color: #f0f2f5;
    }
</style>

@if ((bool)ViewData["DeletedCalendar"])
{
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
    </svg>
    <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 mr-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
        <div>
            The calendar was deleted successfully!
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    </div>
}


<h1 class="h1 pb-3 text-center">My Calendars</h1>
@if (Model.Calendars.Count == 0)
{
    <h3 class="h3 pb-3 text-center">It looks like you do no have any calendars yet</h3>
    <h3 class="h3 pb-5 text-center">Click one of the options below to get started!</h3>
    <div class="d-flex justify-content-center">
        <a class="btn btn-dark pt-3 pb-3 mr-4 font-weight-bold"
           href="#">Show Documentation</a>
        <a class="btn btn-primary pt-3 pb-3 font-weight-bold"
           asp-controller="Home" asp-action="AddCalendar">Add A New Calendar</a>
    </div>
}
else
{
    @*desktop view*@
    <div id="DesktopView" class="d-none d-sm-none d-md-none d-lg-block d-xl-block">
        <div class="row mb-2">
            @for (int i = pagination - paginationBreakPoint; i < pagination; i++)
            {
                

                <div class="col-lg-4">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h4 class="text-center">@Model.Calendars.ElementAt(i).Title</h4>
                        </div>
                        @{
                            string imageSrc = Model.Calendars.ElementAt(i).ImagePath == ""
                             ? "~/images/noimage.jpg"
                         : $"~/images/screenshots/{Model.Calendars.ElementAt(i).ImagePath}";
                        }
                        <img class="card-img-top" src="@Url.Content(imageSrc)" style="height:200px;"/>
                        <div class="card-footer">
                            <div class="d-flex justify-content-around">

                                <div>
                                    <button type="button" class="btn btn-danger font-weight-bold" style="width:75px;"
                                            data-target="#deleteModal-@i" data-toggle="modal">
                                        Delete
                                    </button>

                                    <div class="modal fade" id="deleteModal-@i">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel-@i">Calendar Deletion Confirmation Dialog</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete the calendar @Model.Calendars.ElementAt(i).Title?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:75px;">No</button>
                                                    <form method="post" asp-controller="Home" asp-action="DeleteCalendar" asp-route-calendarId="@Model.Calendars.ElementAt(i).Id">
                                                        <input type="hidden" name="calendarId" value="@Model.Calendars.ElementAt(i).Id" />
                                                        <button type="submit" class="btn btn-danger" style="width:75px;">Yes</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a asp-controller="Home" asp-action="ViewCalendar" asp-route-calendarId = "@Model.Calendars.ElementAt(i).Id"
                                    class="btn btn-primary font-weight-bold" style="width:75px">View</a>
                            </div>
                        </div>
                    </div>
                </div>

                if (i == Model.Calendars.Count - 1)
                    break;
            }
        </div>
        @*pagination desktop code*@
        <div class="d-flex justify-content-center mt-4">
            <ul class="pagination shadow">
                @if (Model.Calendars.Count > paginationBreakPoint)
                {
                    @if (pagination == paginationBreakPoint)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo; Previous</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="HomePage" asp-route-pagination="@paginationPrevious" aria-label="Previous">
                                <span aria-hidden="true">&laquo; Previous</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    }


                    @for (int i = 0; i < Model.Calendars.Count; i += paginationBreakPoint)
                    {
                        if (paginationCount == pagination / paginationBreakPoint)
                        {
                            <li class="page-item active">
                                <a class="page-link" asp-action="HomePage" asp-route-pagination="@paginationCount">
                                    @paginationCount
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="HomePage" asp-route-pagination="@paginationCount">
                                    @paginationCount
                                </a>
                            </li>
                        }

                        {
                            paginationCount++;
                        }
                    }

                    @if (paginationCount - 1 == pagination / paginationBreakPoint)
                    {
                        <li class="page-item disabled">
                            <a class="page-link text-center" href="#" aria-label="Next" style="min-width:100px;">
                                <span aria-hidden="true">Next &raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link text-center" asp-action="HomePage" asp-route-pagination="@paginationNext" aria-label="Next" style="min-width:100px;">
                                <span aria-hidden="true">Next &raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    }
                }

            </ul>
        </div>
    </div>

    @*tablet view*@
    <div id="TabletView" class="d-none d-md-block d-lg-none">
        <div class="row mb-2">
            @for (int i = paginationTablet - paginationBreakPointTablet; i < paginationTablet; i++)
            {
                <div class="col-md-6">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h4 class="text-center">@Model.Calendars.ElementAt(i).Title</h4>
                        </div>
                        @{
                            string imageSrc = Model.Calendars.ElementAt(i).ImagePath == ""
                            ? "~/images/noimage.jpg"
                            : $"~/images/screenshots/{Model.Calendars.ElementAt(i).ImagePath}";
                        }
                        <img class="card-img-top" src="@Url.Content(imageSrc)" style="height:200px;"/>
                        <div class="card-footer">
                            <div class="d-flex justify-content-around">

                                <div>
                                    <button type="button" class="btn btn-danger font-weight-bold" style="width:75px;"
                                            data-target="#deleteModal-@i" data-toggle="modal">
                                        Delete
                                    </button>

                                    <div class="modal fade" id="deleteModal-@i">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel-@i">Calendar Deletion Confirmation Dialog</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete the calendar @Model.Calendars.ElementAt(i).Title?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:75px;">No</button>
                                                    <form method="post" asp-controller="Home" asp-action="DeleteCalendar" asp-route-calendarId="@Model.Calendars.ElementAt(i).Id">
                                                        <input type="hidden" name="calendarId" value="@Model.Calendars.ElementAt(i).Id" />
                                                        <button type="submit" class="btn btn-danger" style="width:75px;">Yes</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a asp-controller="Home" asp-action="ViewCalendar" asp-route-calendarId="@Model.Calendars.ElementAt(i).Id"
                                   class="btn btn-primary font-weight-bold" style="width:75px">View</a>
                            </div>
                        </div>
                    </div>
                </div>

                if (i == Model.Calendars.Count - 1)
                    break;
            }
        </div>
        <div class=" d-flex justify-content-center mt-4">
            <ul class="pagination shadow">
                @if (Model.Calendars.Count > paginationBreakPointTablet)
                {
                    @if (paginationTablet == paginationBreakPointTablet)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo; Previous</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="HomePage" asp-route-pagination="@paginationPreviousTablet" aria-label="Previous">
                                <span aria-hidden="true">&laquo; Previous</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    }


                    @for (int i = 0; i < Model.Calendars.Count; i += paginationBreakPointTablet)
                    {
                        if (paginationCountTablet == paginationTablet / paginationBreakPointTablet)
                        {
                            <li class="page-item active">
                                <a class="page-link" asp-action="HomePage" asp-route-pagination="@paginationCountTablet">
                                    @paginationCountTablet
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="HomePage" asp-route-pagination="@paginationCountTablet">
                                    @paginationCountTablet
                                </a>
                            </li>
                        }

                        {
                            paginationCountTablet++;
                        }
                    }

                    @if (paginationCountTablet - 1 == paginationTablet / paginationBreakPointTablet)
                    {
                        <li class="page-item disabled">
                            <a class="page-link text-center" href="#" aria-label="Next" style="min-width:100px;">
                                <span aria-hidden="true">Next &raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link text-center" asp-action="HomePage" asp-route-pagination="@paginationNextTablet" aria-label="Next" style="min-width:100px;">
                                <span aria-hidden="true">Next &raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    }
                }

            </ul>
        </div>
    </div>

    @*mobile view*@
    <div id="MobileView" class="d-block d-md-none">
        <div class="row mb-2">
            @for (int i = paginationMobile - paginationBreakPointMobile; i < paginationMobile; i++)
            {
                <div class="offset-1 col-10 offset-sm-2 col-sm-8">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h4 class="text-center">@Model.Calendars.ElementAt(i).Title</h4>
                        </div>
                        @{
                            string imageSrc = Model.Calendars.ElementAt(i).ImagePath == ""
                            ? "~/images/noimage.jpg"
                            : $"~/images/screenshots/{Model.Calendars.ElementAt(i).ImagePath}";
                        }
                        <img class="card-img-top" src="@Url.Content(imageSrc)" />
                        <div class="card-footer">
                            <div class="d-flex justify-content-around">

                                <div>
                                    <button type="button" class="btn btn-danger font-weight-bold" style="width:75px;"
                                            data-target="#deleteModal-@i" data-toggle="modal">
                                        Delete
                                    </button>

                                    <div class="modal fade" id="deleteModal-@i">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel-@i">Calendar Deletion Confirmation Dialog</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete the calendar @Model.Calendars.ElementAt(i).Title?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:75px;">No</button>
                                                    <form method="post" asp-controller="Home" asp-action="DeleteCalendar" asp-route-calendarId="@Model.Calendars.ElementAt(i).Id">
                                                        <input type="hidden" name="calendarId" value="@Model.Calendars.ElementAt(i).Id" />
                                                        <button type="submit" class="btn btn-danger" style="width:75px;">Yes</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a asp-controller="Home" asp-action="ViewCalendar" asp-route-calendarId="@Model.Calendars.ElementAt(i).Id"
                                   class="btn btn-primary font-weight-bold" style="width:75px">View</a>
                            </div>
                        </div>
                    </div>
                </div>

                if (i == Model.Calendars.Count - 1)
                    break;
            }
        </div>
        <div class=" d-flex justify-content-center mt-4">
            <ul class="pagination shadow">
                @if (Model.Calendars.Count > paginationBreakPointMobile)
                {
                    @if (paginationMobile == paginationBreakPointMobile)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo; Previous</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="HomePage" asp-route-pagination="@paginationPreviousMobile" aria-label="Previous">
                                <span aria-hidden="true">&laquo; Previous</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    }


                    @for (int i = 0; i < Model.Calendars.Count; i += paginationBreakPointMobile)
                    {
                        if (paginationCountMobile == paginationMobile / paginationBreakPointMobile)
                        {
                            <li class="page-item active">
                                <a class="page-link" asp-action="HomePage" asp-route-pagination="@paginationCountMobile">
                                    @paginationCountMobile
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="HomePage" asp-route-pagination="@paginationCountMobile">
                                    @paginationCountMobile
                                </a>
                            </li>
                        }

                        {
                            paginationCountMobile++;
                        }
                    }

                    @if (paginationCountMobile - 1 == paginationMobile / paginationBreakPointMobile)
                    {
                        <li class="page-item disabled">
                            <a class="page-link text-center" href="#" aria-label="Next" style="min-width:90px;">
                                <span aria-hidden="true">Next &raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link text-center" asp-action="HomePage" asp-route-pagination="@paginationNextMobile" aria-label="Next" style="min-width:90px;">
                                <span aria-hidden="true">Next &raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    }
                }

            </ul>
        </div>
    </div>
}

