@model Calendar

@{
    ViewData["Title"] = "Calendar Day Events";
    int hourCount = 0;
    bool doNotGoUp = true;
    int minCount = 0;
    int classCount = 0;
    Dictionary<int, int> teams = new Dictionary<int, int>();

    string dayName = new DateTime((int)ViewData["Year"], (int)ViewData["Month"], (int)ViewData["Day"]).DayOfWeek.ToString();
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>

<style>
    .table-bordered td {
        position: relative;
    }

    .calendar-event {
        position: absolute;
        z-index: 1;
        box-shadow: 0 0 3px black;
    }

    .native{
        background-color: #3466aa;
    }

    .foreign {
        background-color: #5534aa;
    }

    .event-top {
        top: 20%;
        left: 10%;
        right: 10%;
        bottom: 0;
        box-shadow: 0 0 3px black;
    }

    .event-top::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0px;
        right: 0px;
        height: 2px;
        z-index: 2;
        background-color: inherit;
    }

    .event-middle {
        top: 0;
        left: 10%;
        right: 10%;
        bottom: 0;
    }

    .event-middle::after {
        content: "";
        position: absolute;
        bottom: -1px;
        top: -1px;
        left: 0px;
        right: 0px;
        height: 2px;
        z-index: 2;
        background-color: inherit;
    }

    .event-bottom {
        top: 0;
        left: 10%;
        right: 10%;
        bottom: 20%;
    }

    .event-bottom::after {
        content: "";
        position: absolute;
        top: -1px;
        left: 0px;
        right: 0px;
        height: 2px;
        z-index: 2;
            background-color: inherit;
    }

    .event-inside {
        position: relative;
        z-index: 2;
    }

    /* Define a custom class for smaller buttons */
    .custom-btn-sm {
        padding: 0.2rem 0.4rem; /* Adjust padding as needed */
        font-size: 12px; /* Adjust font size as needed */
        line-height: 1; /* Adjust line height as needed */
    }
</style>

@if ((bool)ViewData["EventWasDeleted"])
{

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
    </svg>
    <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 mr-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
        <div>
            The event was deleted successfully!
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    </div>
}
<div class="text-center">
    <h2 class="h3">@ViewData["Day"]/@ViewData["Month"]/@ViewData["Year"]</h2>
</div>
<!--desktop view-->
<div class="row d-none d-lg-block d-xl-block" id="desktopView">
    <div class="d-flex justify-content-between align-items-center mb-1">
        <div style="margin-left:6rem;"></div>
        <h2 class="h2" style="margin-left:4.3rem;">@dayName</h2>
        <a asp-controller="Home" asp-action="addEvent" asp-route-calendarId="@Model.Id"
           asp-route-year="@ViewData["Year"]" asp-route-month="@ViewData["Month"]" asp-route-day="@ViewData["Day"]"
           class="btn btn-outline-primary" style="margin-left:3rem;">Add Event <i class="fa-solid fa-plus"></i></a>
    </div>
    <div id="desktopTableContainer">
        <table id="desktopTable" class="table table-bordered table-striped shadow col-12 mx-auto" style="table-layout: fixed;">
            <thead class="thead-dark">
                <tr>
                    <th class="h4 p-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-primary btn-sm load-less-btn mr-2"><i class="fa-solid fa-chevron-up"></i></button>
                            <span>Hour</span>
                            <button type="button" class="btn btn-primary btn-sm load-more-btn ml-2"><i class="fa-solid fa-chevron-down"></i></button>
                        </div>
                    </th>
                    <th class="text-center h4 p-3">Col 1</th>
                    <th class="text-center h4 p-3">Col 2</th>
                    <th class="text-center h4 p-3">Col 3</th>
                    <th class="text-center h4 p-3">Col 4</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 48; i++)
                {
                    <tr class="team-@classCount" style="display: @(classCount > 0 ? "none" : "table-row")">
                        <td class="text-center align-middle">
                            @(hourCount.ToString("D2")) : @(minCount.ToString("D2"))
                        </td>

                        @{
                            List<int> prevId = new List<int>();
                            DateTime cellDateTime = new DateTime((int)ViewData["Year"],
                            (int)ViewData["Month"], (int)ViewData["Day"], hourCount, minCount, 0);
                        }
                        @for (int j = 0; j < 4; j++)
                        {
                            <td class="text-center p-4">
                                @foreach (Event calendarEvent in Model.Events.OrderBy(e => e.StartingTime).ToList())
                                {
                                    int foreignn;
                                    //check if the cell is in the start of an event
                                    if (calendarEvent.StartingTime.Day == (int)ViewData["Day"] &&
                                    calendarEvent.StartingTime.Month == (int)ViewData["Month"] &&
                                    calendarEvent.StartingTime.Year == (int)ViewData["Year"] &&
                                    calendarEvent.StartingTime.Hour == hourCount &&
                                    calendarEvent.StartingTime.Minute == minCount)
                                    {
                                        @if (!prevId.Contains(calendarEvent.Id) && (!teams.ContainsKey(calendarEvent.Id) || teams[calendarEvent.Id] == j))
                                        {
                                            //check if event foreign or not
                                            if (calendarEvent.EventCreatorName == ActiveUser.User.Username)
                                            {
                                                <div class="calendar-event native event-top"></div>
                                                <div class="text-white event-inside">@calendarEvent.Title</div>
                                            }
                                            else
                                            {
                                                <div class="calendar-event foreign event-top"></div>
                                                <div class="text-white event-inside">@calendarEvent.Title - Foreign Event</div>
                                            }

                                            prevId.Add(calendarEvent.Id);
                                            if (!teams.ContainsKey(calendarEvent.Id))
                                                teams.Add(calendarEvent.Id, j);
                                            break;
                                        }
                                    }
                                    //check if the cell is in the middle of an event
                                    else if (cellDateTime.Ticks > calendarEvent.StartingTime.Ticks &&
                                    cellDateTime.Ticks < calendarEvent.EndingTime.Ticks)
                                    {
                                        @if (!prevId.Contains(calendarEvent.Id) && (!teams.ContainsKey(calendarEvent.Id) || teams[calendarEvent.Id] == j))
                                        {
                                            //check if event foreign or not
                                            if (calendarEvent.EventCreatorName == ActiveUser.User.Username)
                                            {
                                                <div class="calendar-event native event-middle"></div>
                                            }
                                            else
                                            {
                                                <div class="calendar-event foreign event-middle"></div>
                                            }
                                            prevId.Add(calendarEvent.Id);
                                            if (!teams.ContainsKey(calendarEvent.Id))
                                                teams.Add(calendarEvent.Id, j);
                                            break;
                                        }
                                    }
                                    //check if the cell is in the end of an event
                                    else if (calendarEvent.EndingTime.Day == (int)ViewData["Day"] &&
                                    calendarEvent.EndingTime.Month == (int)ViewData["Month"] &&
                                    calendarEvent.EndingTime.Year == (int)ViewData["Year"] &&
                                    calendarEvent.EndingTime.Hour == hourCount &&
                                    calendarEvent.EndingTime.Minute == minCount)
                                    {
                                        @if (!prevId.Contains(calendarEvent.Id) && (!teams.ContainsKey(calendarEvent.Id) || teams[calendarEvent.Id] == j))
                                        {
                                            //check if event foreign or not
                                            if (calendarEvent.EventCreatorName == ActiveUser.User.Username)
                                            {
                                                <div class="calendar-event native event-bottom"></div>
                                                foreignn = 0;
                                            }
                                            else
                                            {
                                                <div class="calendar-event foreign event-bottom"></div>
                                                foreignn = 1;
                                            }
                                            <div class="event-inside d-flex justify-content-around">
                                                <button type="button" class="btn btn-danger ml-2 mb-1"
                                                        data-target="#deleteModal-@calendarEvent.Id" data-toggle="modal">
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>

                                                <a class="btn btn-dark mr-2 mb-1" asp-controller="home"
                                                   asp-action="editEvent" asp-route-calendarId="@Model.Id" asp-route-eventId="@calendarEvent.Id"
                                                   asp-route-year="@ViewData["Year"]" asp-route-month="@ViewData["Month"]"
                                                   asp-route-day="@ViewData["Day"]" asp-route-forein="@foreignn">
                                                    <i class="fa-sharp fa-solid fa-eye"></i>
                                                </a>
                                            </div>
                                            prevId.Add(calendarEvent.Id);
                                            if (!teams.ContainsKey(calendarEvent.Id))
                                                teams.Add(calendarEvent.Id, j);
                                            break;
                                        }
                                    }
                                }
                            </td>
                        }
                    </tr>

                    classCount = (i + 1) % 8 == 0 ? classCount + 1 : classCount;

                    if (!doNotGoUp)
                    {
                        doNotGoUp = true;
                        hourCount++;
                    }
                    else
                    {
                        doNotGoUp = false;
                    }
                    minCount = minCount == 0 ? 30 : 0;
                }
            </tbody>
        </table>
    </div>
    
</div>
<!--tablet view-->
<div class="row d-none d-md-block d-lg-none" id="tabletView">
    <div class="d-flex justify-content-between align-items-center mb-1">
        <button onclick="changeTabletTeams()" class="btn btn-outline-dark">Change Cols <i class="fa-solid fa-table-columns"></i></button>
        <h2 class="h2" style="margin-right:1rem;">@dayName</h2>
        <a asp-controller="Home" asp-action="addEvent" asp-route-calendarId="@Model.Id"
           asp-route-year="@ViewData["Year"]" asp-route-month="@ViewData["Month"]" asp-route-day="@ViewData["Day"]"
           class="btn btn-outline-primary">Add Event <i class="fa-solid fa-plus"></i></a>
    </div>
    <table class="table table-bordered table-striped shadow col-12 mx-auto" style="table-layout: fixed;">
        <thead class="thead-dark">
            <tr>
                <th class="h4 p-3">
                    <div class="d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-primary btn-sm load-less-btn mr-2"><i class="fa-solid fa-chevron-up"></i></button>
                        <span>Hour</span>
                        <button type="button" class="btn btn-primary btn-sm load-more-btn ml-2"><i class="fa-solid fa-chevron-down"></i></button>
                    </div>
                </th>
                <th class="text-center h4 p-3 tabletColTeam-0">Col 1</th>
                <th class="text-center h4 p-3 tabletColTeam-0">Col 2</th>
                <th class="text-center h4 p-3 tabletColTeam-1">Col 3</th>
                <th class="text-center h4 p-3 tabletColTeam-1">Col 4</th>
            </tr>
        </thead>
        <tbody>
            @*reset the min and hour counts*@
            @{
                minCount = 0;
                hourCount = 0;
                doNotGoUp = true;
                classCount = 0;
            }

            @for (int i = 0; i < 48; i++)
            {

                <tr class="team-@classCount" style="display: @(classCount > 0 ? "none" : "table-row")">
                    <td class="text-center align-middle">
                        @(hourCount.ToString("D2")) : @(minCount.ToString("D2"))
                    </td>

                    @{
                        List<int> prevId = new List<int>();
                        DateTime cellDateTime = new DateTime((int)ViewData["Year"],
                            (int)ViewData["Month"], (int)ViewData["Day"], hourCount, minCount, 0);
                    }
                    @for (int j = 0; j < 4; j++)
                    {
                        int tabletColTeam = j < 2 ? 0 : 1;

                        <td class="text-center p-4 tabletColTeam-@tabletColTeam">
                            @foreach (Event calendarEvent in Model.Events.OrderBy(e => e.StartingTime).ToList())
                            {
                                int foreignn;
                                //check if the cell is in the start of an event
                                if (calendarEvent.StartingTime.Day == (int)ViewData["Day"] &&
                                    calendarEvent.StartingTime.Month == (int)ViewData["Month"] &&
                                    calendarEvent.StartingTime.Year == (int)ViewData["Year"] &&
                                    calendarEvent.StartingTime.Hour == hourCount &&
                                    calendarEvent.StartingTime.Minute == minCount)
                                {
                                    @if (!prevId.Contains(calendarEvent.Id) && (!teams.ContainsKey(calendarEvent.Id) || teams[calendarEvent.Id] == j))
                                    {

                                        //check if event foreign or not
                                        if (calendarEvent.EventCreatorName == ActiveUser.User.Username)
                                        {
                                            <div class="calendar-event native event-top"></div>
                                            <div class="text-white event-inside">@calendarEvent.Title</div>
                                        }
                                        else
                                        {
                                            <div class="calendar-event foreign event-top"></div>
                                            <div class="text-white event-inside">@calendarEvent.Title - Foreign Event</div>
                                        }
                                        prevId.Add(calendarEvent.Id);
                                        if (!teams.ContainsKey(calendarEvent.Id))
                                            teams.Add(calendarEvent.Id, j);
                                        break;
                                    }
                                }
                                //check if the cell is in the middle of an event
                                else if (cellDateTime.Ticks > calendarEvent.StartingTime.Ticks &&
                                    cellDateTime.Ticks < calendarEvent.EndingTime.Ticks)
                                {
                                    @if (!prevId.Contains(calendarEvent.Id) && (!teams.ContainsKey(calendarEvent.Id) || teams[calendarEvent.Id] == j))
                                    {
                                        //check if event foreign or not
                                        if (calendarEvent.EventCreatorName == ActiveUser.User.Username)
                                        {
                                            <div class="calendar-event native event-middle"></div>
                                        }
                                        else
                                        {
                                            <div class="calendar-event foreign event-middle"></div>
                                        }

                                        prevId.Add(calendarEvent.Id);
                                        if (!teams.ContainsKey(calendarEvent.Id))
                                            teams.Add(calendarEvent.Id, j);
                                        break;
                                    }
                                }
                                //check if the cell is in the end of an event
                                else if (calendarEvent.EndingTime.Day == (int)ViewData["Day"] &&
                                    calendarEvent.EndingTime.Month == (int)ViewData["Month"] &&
                                    calendarEvent.EndingTime.Year == (int)ViewData["Year"] &&
                                    calendarEvent.EndingTime.Hour == hourCount &&
                                    calendarEvent.EndingTime.Minute == minCount)
                                {
                                    @if (!prevId.Contains(calendarEvent.Id) && (!teams.ContainsKey(calendarEvent.Id) || teams[calendarEvent.Id] == j))
                                    {
                                        //check if event foreign or not
                                        if (calendarEvent.EventCreatorName == ActiveUser.User.Username)
                                        {
                                            <div class="calendar-event native event-bottom"></div>
                                            foreignn = 0;
                                        }
                                        else
                                        {
                                            <div class="calendar-event foreign event-bottom"></div>
                                            foreignn = 1;
                                        }
                                        <div class="event-inside d-flex justify-content-around">
                                            <button type="button" class="btn btn-danger ml-2 mb-1"
                                                    data-target="#deleteModal-@calendarEvent.Id" data-toggle="modal">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>

                                            <a class="btn btn-dark mr-2 mb-1" asp-controller="home"
                                               asp-action="editEvent" asp-route-calendarId="@Model.Id" asp-route-eventId="@calendarEvent.Id"
                                               asp-route-year="@ViewData["Year"]" asp-route-month="@ViewData["Month"]"
                                               asp-route-day="@ViewData["Day"]" asp-route-forein="@foreignn">
                                                <i class="fa-sharp fa-solid fa-eye"></i>
                                            </a>
                                        </div>
                                        prevId.Add(calendarEvent.Id);
                                        if (!teams.ContainsKey(calendarEvent.Id))
                                            teams.Add(calendarEvent.Id, j);
                                        break;
                                    }
                                }
                            }
                        </td>
                    }
                </tr>

                classCount = (i + 1) % 8 == 0 ? classCount + 1 : classCount;

                if (!doNotGoUp)
                {
                    doNotGoUp = true;
                    hourCount++;
                }
                else
                {
                    doNotGoUp = false;
                }
                minCount = minCount == 0 ? 30 : 0;
            }
        </tbody>
    </table>
</div>
<!--mobile view-->
<div class="row d-block d-sm-block d-md-none" id="mobileView">
    <div class="row">
        <div class="offset-1 col-2">
            <button onclick="changeMobileTeams()" class="btn btn-outline-dark"><i class="fa-solid fa-table-columns"></i></button>
        </div>
        <div class="col-6">
            <div class="text-center">
                <h2 class="h2">@dayName</h2>
            </div>
        </div>
        <div class="col-2">
            <div class="d-flex justify-content-end">
                <a asp-controller="Home" asp-action="addEvent" asp-route-calendarId="@Model.Id"
               asp-route-year="@ViewData["Year"]" asp-route-month="@ViewData["Month"]" asp-route-day="@ViewData["Day"]"
               class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i></a>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-striped shadow offset-1 col-10 mx-auto" style="table-layout: fixed;">
        <thead class="thead-dark">
            <tr>
                <th class="h4 p-3">
                    <div class="d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-primary btn-sm load-less-btn mr-2"><i class="fa-solid fa-chevron-up"></i></button>
                        <span>Hour</span>
                        <button type="button" class="btn btn-primary btn-sm load-more-btn ml-2"><i class="fa-solid fa-chevron-down"></i></button>
                    </div>
                </th>
                <th class="text-center h4 p-3 mobileColTeam-0">Col 1</th>
                <th class="text-center h4 p-3 mobileColTeam-1">Col 2</th>
                <th class="text-center h4 p-3 mobileColTeam-2">Col 3</th>
                <th class="text-center h4 p-3 mobileColTeam-3">Col 4</th>
            </tr>
        </thead>
        <tbody>
            @*reset the min and hour counts*@
            @{
                minCount = 0;
                hourCount = 0;
                doNotGoUp = true;
                classCount = 0;
            }

            @for (int i = 0; i < 48; i++)
            {

                <tr class="team-@classCount" style="display: @(classCount > 0 ? "none" : "table-row")">
                    <td class="text-center align-middle">
                        @(hourCount.ToString("D2")) : @(minCount.ToString("D2"))
                    </td>

                    @{
                        List<int> prevId = new List<int>();
                        DateTime cellDateTime = new DateTime((int)ViewData["Year"],
                            (int)ViewData["Month"], (int)ViewData["Day"], hourCount, minCount, 0);
                    }
                    @for (int j = 0; j < 4; j++)
                    {
                        <td class="text-center p-4 mobileColTeam-@j">
                            @foreach (Event calendarEvent in Model.Events.OrderBy(e => e.StartingTime).ToList())
                            {
                                int foreignn;
                                //check if the cell is in the start of an event
                                if (calendarEvent.StartingTime.Day == (int)ViewData["Day"] &&
                                    calendarEvent.StartingTime.Month == (int)ViewData["Month"] &&
                                    calendarEvent.StartingTime.Year == (int)ViewData["Year"] &&
                                    calendarEvent.StartingTime.Hour == hourCount &&
                                    calendarEvent.StartingTime.Minute == minCount)
                                {
                                    @if (!prevId.Contains(calendarEvent.Id) && (!teams.ContainsKey(calendarEvent.Id) || teams[calendarEvent.Id] == j))
                                    {
                                        //check if event foreign or not
                                        if (calendarEvent.EventCreatorName == ActiveUser.User.Username)
                                        {
                                            <div class="calendar-event native event-top"></div>
                                            <div class="text-white event-inside">@calendarEvent.Title</div>
                                        }
                                        else
                                        {
                                            <div class="calendar-event foreign event-top"></div>
                                            <div class="text-white event-inside">@calendarEvent.Title - Foreign Event</div>
                                        }
                                        prevId.Add(calendarEvent.Id);
                                        if (!teams.ContainsKey(calendarEvent.Id))
                                            teams.Add(calendarEvent.Id, j);
                                        break;
                                    }
                                }
                                //check if the cell is in the middle of an event
                                else if (cellDateTime.Ticks > calendarEvent.StartingTime.Ticks &&
                                    cellDateTime.Ticks < calendarEvent.EndingTime.Ticks)
                                {
                                    @if (!prevId.Contains(calendarEvent.Id) && (!teams.ContainsKey(calendarEvent.Id) || teams[calendarEvent.Id] == j))
                                    {
                                        //check if event foreign or not
                                        if (calendarEvent.EventCreatorName == ActiveUser.User.Username)
                                        {
                                            <div class="calendar-event native event-middle"></div>
                                        }
                                        else
                                        {
                                            <div class="calendar-event foreign event-middle"></div>
                                        }

                                        prevId.Add(calendarEvent.Id);
                                        if (!teams.ContainsKey(calendarEvent.Id))
                                            teams.Add(calendarEvent.Id, j);
                                        break;
                                    }
                                }
                                //check if the cell is in the end of an event
                                else if (calendarEvent.EndingTime.Day == (int)ViewData["Day"] &&
                                    calendarEvent.EndingTime.Month == (int)ViewData["Month"] &&
                                    calendarEvent.EndingTime.Year == (int)ViewData["Year"] &&
                                    calendarEvent.EndingTime.Hour == hourCount &&
                                    calendarEvent.EndingTime.Minute == minCount)
                                {
                                    @if (!prevId.Contains(calendarEvent.Id) && (!teams.ContainsKey(calendarEvent.Id) || teams[calendarEvent.Id] == j))
                                    {
                                        //check if event foreign or not
                                        if (calendarEvent.EventCreatorName == ActiveUser.User.Username)
                                        {
                                            <div class="calendar-event native event-bottom "></div>
                                            foreignn = 0;
                                        }
                                        else
                                        {
                                            <div class="calendar-event foreign event-bottom "></div>
                                            foreignn = 1;
                                        }
                                        <div class="event-inside d-flex justify-content-around">
                                            <button type="button" class="btn btn-danger ml-2 mb-1"
                                                    data-target="#deleteModal-@calendarEvent.Id" data-toggle="modal">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>

                                            <a class="btn btn-dark mr-2 mb-1" asp-controller="home"
                                               asp-action="editEvent" asp-route-calendarId="@Model.Id" asp-route-eventId="@calendarEvent.Id"
                                               asp-route-year="@ViewData["Year"]" asp-route-month="@ViewData["Month"]"
                                               asp-route-day="@ViewData["Day"]" asp-route-forein="@foreignn">
                                                <i class="fa-sharp fa-solid fa-eye"></i>
                                            </a>
                                        </div>
                                        prevId.Add(calendarEvent.Id);
                                        if (!teams.ContainsKey(calendarEvent.Id))
                                            teams.Add(calendarEvent.Id, j);
                                        break;
                                    }
                                }
                            }
                        </td>
                    }
                </tr>

                classCount = (i + 1) % 8 == 0 ? classCount + 1 : classCount;

                if (!doNotGoUp)
                {
                    doNotGoUp = true;
                    hourCount++;
                }
                else
                {
                    doNotGoUp = false;
                }
                minCount = minCount == 0 ? 30 : 0;
            }
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center mt-4">
    <a class="btn btn-dark text-center text-white font-weight-bold pt-3 pb-3 mr-3"
        asp-action="ViewCalendar" asp-route-year="@ViewData["Year"]"
        asp-route-month="@ViewData["Month"]" asp-route-calendarId="@Model.Id">Back To Calendar View</a>
    <a href="#" class="btn btn-primary text-center text-white font-weight-bold pt-3 pb-3">View Documentation</a>
</div>
<a onclick="captureAndSaveTableScreenshot()">bullshit screenshot</a>
<div id="output"></div>

@foreach (KeyValuePair<int, int> kvp in teams)
{
    <div class="modal fade" id="deleteModal-@kvp.Key">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-@kvp.Key">Event Deletion Confirmation Dialog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the event?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:75px;">No</button>
                    <!--fill the form-->
                    <form method="post" asp-controller="Home" asp-action="DeleteEvent">
                        <input type="hidden" name="calendarId" value="@Model.Id" />
                        <input type="hidden" name="eventId" value="@kvp.Key" />
                        <input type="hidden" name="year" value="@ViewData["Year"]" />
                        <input type="hidden" name="month" value="@ViewData["Month"]" />
                        <input type="hidden" name="day" value="@ViewData["Day"]" />
                        <button type="submit" class="btn btn-danger" style="width:75px;">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    <script>
        $(document).ready(function () {
            var currentTeam = 0;
            var totalTeams = $('.table tbody tr').length;

            //if (totalTeams <= 1) {
                //$('.load-more-btn').attr('disabled', true);
            //}

            $('.load-less-btn').attr('disabled', true);

            $('.load-more-btn').click(function (e) {
                e.preventDefault();

                if (currentTeam < totalTeams - 1 && currentTeam < 5) {
                    $('.team-' + currentTeam).hide();
                    currentTeam++;
                    $('.team-' + currentTeam).show();

                    $('.load-less-btn').attr('disabled', false);
                }
                //the division by 24 is because we have 3 different teams(mobile, tablet and desktop)
                if (currentTeam === (totalTeams / 24) - 1) {
                    $('.load-more-btn').attr('disabled', true);
                }
            });

            $('.load-less-btn').click(function (e) {
                e.preventDefault();

                if (currentTeam > 0) {
                    $('.team-' + currentTeam).hide();
                    currentTeam--;
                    $('.team-' + currentTeam).show();

                    $('.load-more-btn').attr('disabled', false);
                }

                if (currentTeam === 0) {
                    $('.load-less-btn').attr('disabled', true);
                }
            });
        });
    </script>

    <script>
        let colMobNum = 0;

        window.addEventListener('load', function () {
            //tablet columns
            TabletTeam1Items = document.getElementsByClassName("tabletColTeam-1");

            //mobile columns
            MobileTeam1Items = document.getElementsByClassName("mobileColTeam-1");
            MobileTeam2Items = document.getElementsByClassName("mobileColTeam-2");
            MobileTeam3Items = document.getElementsByClassName("mobileColTeam-3");

            for (let i = 0; i < TabletTeam1Items.length; i++) {
                TabletTeam1Items[i].classList.toggle("d-none");
            }

            for (let i = 0; i < MobileTeam1Items.length; i++) {
                MobileTeam1Items[i].classList.toggle("d-none");
                MobileTeam2Items[i].classList.toggle("d-none");
                MobileTeam3Items[i].classList.toggle("d-none");
            }
        });

        function changeTabletTeams() {
            TabletTeam0Items = document.getElementsByClassName("tabletColTeam-0");
            TabletTeam1Items = document.getElementsByClassName("tabletColTeam-1");
            if (TabletTeam0Items[0].style.display == "none") {
                for (let i = 0; i < TabletTeam0Items.length; i++) {
                    TabletTeam0Items[i].classList.toggle("d-none");
                    TabletTeam1Items[i].classList.toggle("d-none");
                }
            }
            else {
                for (let i = 0; i < TabletTeam1Items.length; i++) {
                    TabletTeam0Items[i].classList.toggle("d-none");
                    TabletTeam1Items[i].classList.toggle("d-none");
                }
            }
        }

        function changeMobileTeams() {
            MobileTeam0Items = document.getElementsByClassName("mobileColTeam-0");
            MobileTeam1Items = document.getElementsByClassName("mobileColTeam-1");
            MobileTeam2Items = document.getElementsByClassName("mobileColTeam-2");
            MobileTeam3Items = document.getElementsByClassName("mobileColTeam-3");
            switch (colMobNum) {
                case 0:
                    for (let i = 0; i < MobileTeam0Items.length; i++) {
                        MobileTeam0Items[i].classList.toggle("d-none");
                        MobileTeam1Items[i].classList.toggle("d-none");
                    }
                    colMobNum++;
                    break;
                case 1:
                    for (let i = 0; i < MobileTeam0Items.length; i++) {
                        MobileTeam1Items[i].classList.toggle("d-none");
                        MobileTeam2Items[i].classList.toggle("d-none");
                    }
                    colMobNum++;
                    break;
                case 2:
                    for (let i = 0; i < MobileTeam0Items.length; i++) {
                        MobileTeam2Items[i].classList.toggle("d-none");
                        MobileTeam3Items[i].classList.toggle("d-none");
                    }
                    colMobNum++;
                    break;
                case 3:
                    for (let i = 0; i < MobileTeam0Items.length; i++) {
                        MobileTeam3Items[i].classList.toggle("d-none");
                        MobileTeam0Items[i].classList.toggle("d-none");
                    }
                    colMobNum = 0;
                    break;
            }
        }

        // Capture and save screenshot every 6 seconds
        setInterval(captureAndSaveTableScreenshot, 6000);

        function captureAndSaveTableScreenshot() {
            const div = document.getElementById('desktopTableContainer');

            // Use html2canvas to capture the table as an image
            html2canvas(div).then(canvas => {
                const screenshotDataUrl = canvas.toDataURL('image/png');

                // Convert data URL to Blob
                const screenshotBlob = dataURLtoBlob(screenshotDataUrl);

                // Create FormData object
                const formData = new FormData();
                formData.append('screenshot', screenshotBlob, 'screenshot.png');
                formData.append('calendarId', @Model.Id);

                // Send the FormData to the server as a POST request
                fetch('/Home/SaveScreenshot', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        if (response.ok) {
                            console.log('Screenshot saved successfully.');
                        } else {
                            console.error('Failed to save screenshot.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        }

        // Convert data URL to Blob
        //magic I do not really understand what is happening here
        function dataURLtoBlob(dataURL) {
            const arr = dataURL.split(',');
            const mime = arr[0].match(/:(.*?);/)[1];
            const bstr = atob(arr[1]);
            let n = bstr.length;
            const u8arr = new Uint8Array(n);
            while (n--) {
                u8arr[n] = bstr.charCodeAt(n);
            }
            return new Blob([u8arr], { type: mime });
        }
    </script>

}
